header, footer{
    width: 100%;
    height: 10%;
    position: absolute;
}

header {
    padding-top: 1.5%;
    display: block;
}

body{
    background-color: dimgrey;
}

.upper-text{
    margin-bottom: 8%;
}

footer{
    top: 90%;
}

main{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 80%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

main > section{
    border: 2px solid white;
    padding: 2%;
}

#terminal{
    height: 100%;
}

#chart-container{
    height: 65%;
}

.up{
    display: inline;
    margin-left: 2%;
}

.home-section{
    padding-top: 10%;
}

p{
    margin-top: 4%;
    margin-bottom: 8%;
}

.text-and-input-container{
    margin-bottom: 1%;
}

a:not(#domande-avanzate){
    text-decoration: none;
    color: black;
    border: 2px solid black;
    background-color: white;
    margin: 0 2% 0 2%;
    padding: 1%;
}

#domande-avanzate{
    text-decoration: underline;
    color: black;
}

#domande-avanzate:hover{
    color: white;
}

a:hover:not(#domande-avanzate){
    text-decoration: none;
    color: white;
    background-color: black;
}

.register-container{
    margin-top: 5%;
}

.dati-errati{
    margin-top: 2%;
    color: red;
}

#contenitore-domande{
    text-align: left;
}

input[value=Registrati]{
    margin-top: 5%;
}

.lower-text{
    margin-top: 2%;
}

#not-registered{
    margin-bottom: 2%;
}

input{
    margin-right: 1%;
}

.bottom-right{
    text-align: end;
}

.block{
    display: block;
}

.middle-text{
    margin-top: -4%;
}

#contenitore-domande-avanzate{
    text-align: end;
    margin-right: 4%;
}

/* FINESTRA APPROFONDIMENTO */

.finestra-approfondimento{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.finestra-approfondimento-contenuto{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.chiudi{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.chiudi:hover, .chiudi:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.tasto-approfondimento{
    padding: 0.5% 1% !important;
}

.tasto-approfondimento:hover{
    cursor: pointer;
}

.sottodomanda{
    margin-left: 5%;
}

/* ADMIN */

#aggiungi-domanda{
    width: 75%;
}

[id^=aggiungi-risposta], #aggiungi-approfondimento-link{
    width: 50%;
}

textarea{
    width: 75%;
}

/* SOTTO DOMANDA */

li, .conferma{
    margin-left: 7%;
}

.successo{
    color: white;
}

.fallimento{
    color: red;
}

@media only screen and (max-width: 600px) {
main{
    padding-top: 5%;
}
p,.upper-text{
    margin-bottom: 20%;
}
main {
    padding-left: 8%;
    padding-right: 8%;
}

header{
    padding-top: 7%;
}

.up{
    margin-left: 6%;
}

.bottom-right{
    padding-top: 5%;
}

.lower-text{
    margin-top: 10%;
}

.tasto-approfondimento{
    padding: 0.5% 1.5% !important;
}

#aggiungi-domanda{
    width: 90%;
}

[id^=aggiungi-risposta],#aggiungi-approfondimento-link{
    width: 90%;
}
}